@media (min-width: 1024px){
    
    h1 {
    font-family: 'Inter', sans-serif;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    color: #2e2b2b;
    letter-spacing: -1px;
    text-shadow: 2px 2px 2px black;
    background-color: rgb(198, 206, 181);
    border: 5px ;
    border-radius: 15px;
    width: 800px;
    width: 80%;
    display: inline-block ;
    }

    body{
    font-family: 'Inter', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    border: 30px  solid rgb(0, 93, 109);
    margin: 0 auto  ;
    padding: 0px 20px 20px 20px ;
    background-color: rgb(219, 228, 228);
    text-align: center;
    /*text-shadow: 1px 1px 1px black;*/
    
    }
    .centrado {
    display: inline-block; 
    text-align: center;
    border-radius: 15px;   
    padding: 2rem;   
    list-style: none;
    }

    section {
    background-color: azure;
    padding: 3rem;
    border-radius: 15px;
    margin: 25px auto;
    width: 800px;
    width: 80%;
    }

    button{
    background-color: rgb(129, 85, 103);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    }

}
@media (max-width: 600px) {

    h1 {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    color: #2e2b2b;
    letter-spacing: -1px;
    text-shadow: 2px 2px 2px black;
    background-color: rgb(198, 206, 181);
    border: 5px ;
    border-radius: 15px;
    width: 800px;
    width: 80%;
    display: inline-block ;
    }

    body{
    font-family: 'Inter', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    border: 30px  solid rgb(0, 93, 109);
    margin: 0 auto  ;
    padding: 0px 20px 20px 20px ;
    background-color: rgb(219, 228, 228);
    text-align: center;
    /*text-shadow: 1px 1px 1px black;*/
    
    }
    .centrado {
    display: inline-block; 
    text-align: center;
    border-radius: 15px;   
    padding: 2rem;   
    list-style: none;
    }

    section {
    background-color: azure;
    padding: 3rem;
    border-radius: 15px;
    margin: 25px auto;
    width: 800px;
    width: 60%;
    
    }

    button{
    background-color: rgb(129, 85, 103);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    }

}